<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="{$config.keywords}" />
    <meta name="Description" content="{$config.description}" />
    <title>{$config.sitename}</title>
    {include file='common/meta'}
    <style>
        .homefloor .lift-channel {
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
            box-sizing: border-box;
        }

        .homefloor .lift-channel li {
            width: calc(100%/3 - 10px);
            box-sizing: inherit;
            margin-right: 0;
            margin-left: 10px;
        }

        .homefloor .lift-channel li .p-img {
            height: 193px;
        }
    </style>
</head>

<body class="home_visual_body">
    {include file='common/head'}
    <div class="homeindex" ectype="homeWrap">
        <div class="content" style="min-height: 974px;">
            <div class="visual-item" data-mode="lunbo" data-purebox="banner" data-li="1" data-length="5" ectype="visualItme" style="display: block;"
                data-diff="0">
                <div class="view">
                    <div class="banner home-banner">
                        <div class="bd">
                            <ul data-type="range">
                                {volist name='slider' id='vo'}
                                <li style="background:url(__uploads__/{$vo.slider_img}) center center no-repeat;">
                                    <div class="banner-width">
                                        <a href="#" style="height:500px;"></a>
                                    </div>
                                </li>
                                {/volist}
                            </ul>
                            <div class="spec" data-spec=""></div>
                        </div>
                        <div class="hd">
                            <ul></ul>
                        </div>
                        <div class="vip-outcon">
                            <div class="vip-con">
                                <div class="insertVipEdit" data-mode="insertVipEdit">

                                    <div ectype="user_info">
                                        <div class="avatar">
                                            <a href="user.php?act=profile">
                                                <img src="__index__/img/avatar.png">
                                            </a>
                                        </div>
                                        <div class="login-info">
                                            <span>Hi，欢迎来到大商创!</span>
                                            <a href="user.php" class="login-button">请登录</a>
                                            <a href="merchants.php" target="_blank" class="register_button">我要开店</a>
                                        </div>
                                    </div>
                                    <div class="vip-item">
                                        <div class="tit">
                                            <a href="javascript:void(0);" class="tab_head_item on">公告</a>
                                            <a href="javascript:void(0);" class="tab_head_item">促销</a>
                                        </div>
                                        <div class="con">
                                            <ul>
                                                {volist name='ans' id='vo'}
                                                <li>
                                                    <a href="{:url('article/index',['id'=>$vo['id']])}" target="_blank">{$vo.title}</a>
                                                </li>
                                                {/volist}
                                            </ul>
                                            <ul style="display:none;">
                                                    {volist name='promote' id='vo'}
                                                    <li>
                                                        <a href="{:url('article/index',['id'=>$vo['id']])}" target="_blank">{$vo.title}</a>
                                                    </li>
                                                    {/volist}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="vip-item">
                                        <div class="tit">快捷入口</div>
                                        <div class="kj_con">
                                            <div class="item item_1">
                                                <a href="history_list.php" target="_blank">
                                                    <i class="iconfont icon-browse"></i>
                                                    <span>我的浏览</span>
                                                </a>
                                            </div>
                                            <div class="item item_2">
                                                <a href="user.php?act=collection_list" target="_blank">
                                                    <i class="iconfont icon-zan-alt"></i>
                                                    <span>我的收藏</span>
                                                </a>
                                            </div>
                                            <div class="item item_3">
                                                <a href="user.php?act=order_list" target="_blank">
                                                    <i class="iconfont icon-order"></i>
                                                    <span>我的订单</span>
                                                </a>
                                            </div>
                                            <div class="item item_4">
                                                <a href="user.php?act=account_safe" target="_blank">
                                                    <i class="iconfont icon-password-alt"></i>
                                                    <span>账号安全</span>
                                                </a>
                                            </div>
                                            <div class="item item_5">
                                                <a href="user.php?act=affiliate" target="_blank">
                                                    <i class="iconfont icon-share-alt"></i>
                                                    <span>我要分享</span>
                                                </a>
                                            </div>
                                            <div class="item item_6">
                                                <a href="merchants.php" target="_blank">
                                                    <i class="iconfont icon-settled"></i>
                                                    <span>商家入驻</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spec" data-spec=""></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="visual-item w1200" data-mode="h-need" data-purebox="homeAdv" data-li="1" ectype="visualItme" data-diff="0" style="display: block;">

                <div class="view">
                    <div class="need-channel clearfix" id="h-need_0" data-type="range" data-lift="推荐">

                        <div class="channel-column" style="background:url(__index__/img/1494984987302153402.jpg) no-repeat;">
                            <div class="column-title">
                                <h3 style="color: #ffffff">优质新品</h3>
                                <p style="color: #ffffff">专注生活美学</p>
                            </div>
                            <div class="column-img">
                                <img src="__index__/img/1494985002375136884.png">
                            </div>
                            <a href="" target="_blank" class="column-btn">去看看</a>
                        </div>
                        <div class="channel-column" style="background:url(__index__/img/1494984989930757668.jpg) no-repeat;">
                            <div class="column-title">
                                <h3 style="color: #ffffff">潮流女装</h3>
                                <p style="color: #ffffff">春装流行款抢购</p>
                            </div>
                            <div class="column-img">
                                <img src="__index__/img/1494984989766362152.png">
                            </div>
                            <a href="" target="_blank" class="column-btn">去看看</a>
                        </div>
                        <div class="channel-column" style="background:url(__index__/img/1494984989391013089.jpg) no-repeat;">
                            <div class="column-title">
                                <h3 style="color: #ffffff">人气美鞋</h3>
                                <p style="color: #ffffff">新外貌“鞋”会</p>
                            </div>
                            <div class="column-img">
                                <img src="__index__/img/1494984990383161028.png">
                            </div>
                            <a href="" target="_blank" class="column-btn">去看看</a>
                        </div>
                        <div class="channel-column" style="background:url(__index__/img/1494984987606903394.jpg) no-repeat;">
                            <div class="column-title">
                                <h3 style="color: #ffffff">品牌精选</h3>
                                <p style="color: #ffffff">潮牌尖货 初春换新</p>
                            </div>
                            <div class="column-img">
                                <img src="__index__/img/1494984988032635434.png">
                            </div>
                            <a href="" target="_blank" class="column-btn">去看看</a>
                        </div>
                        <div class="channel-column" style="background:url(__index__/img/1494984990175755536.jpg) no-repeat;">
                            <div class="column-title">
                                <h3 style="color: #ffffff">护肤彩妆</h3>
                                <p style="color: #ffffff">春妆必买清单 低至3折</p>
                            </div>
                            <div class="column-img">
                                <img src="__index__/img/1494984991251825734.png">
                            </div>
                            <a href="" target="_blank" class="column-btn">去看看</a>
                        </div>
                        <div class="spec" data-spec="" data-title=""></div>
                    </div>
                </div>
            </div>
<div class="visual-item w1200 brandList" data-mode="h-brand" data-purebox="homeAdv" data-li="1" ectype="visualItme" data-diff="0" style="display: block;">      
    <div class="view">
        <div class="brand-channel clearfix" id="h-brand_0" data-type="range" data-lift="品牌">
<div class="home-brand-adv slide_lr_info">
<a href="" target="_blank"><img src="__index__/img/1494984992104112514.jpg" class="slide_lr_img"></a>
</div>
<div ectype="homeBrand"><div class="brand-list" id="recommend_brands">
<a href="javascript:void(0);" ectype="changeBrand" class="refresh-btn"><i class="iconfont icon-rotate-alt"></i><span>换一批</span></a>
</div>
</div>
<div class="spec" data-spec="" data-title="undefined"></div>
</div>
    </div>
</div>
            <?php foreach($cateRec as $k=>$v):?>
            <div class="visual-item w1200 homefloor" data-mode="homeFloor" data-purebox="homeFloor" data-li="1" ectype="visualItme" data-diff="0"
                style="display: block;">
                <div class="view">
                    <div class="floor-content" data-type="range" id="homeFloor_0" data-lift="女装">
                        <div class="floor-line-con floorOne floor-color-type-1" data-title="男装女装" data-idx="1" id="floor_1" ectype="floorItem">
                            <div class="floor-hd" ectype="floorTit">
                                <i class="box_hd_arrow"></i>
                                <i class="box_hd_dec"></i>
                                <div class="hd-tit">
                                    <?php echo $v['cate_name']?>
                                </div>
                                <div class="hd-tags">
                                    <ul>

                                        <li class="first current">
                                            <span>新品推荐</span>
                                            <i class="arrowImg"></i>
                                        </li>
                                        <?php foreach($v['children'] as $k1=>$v1):?>
                                        <li data-catgoods="" class="first" ectype="floor_cat_content" data-flooreveval="0" data-visualhome="1" data-floornum="6"
                                            data-id="347">
                                            <span>
                                                <?php echo $v1['cate_name'];?>
                                            </span>
                                            <i class="arrowImg"></i>
                                        </li>
                                        <?php endforeach;?>
                                    </ul>
                                </div>
                            </div>
                            <div class="floor-bd bd-mode-01">
                                <div class="bd-left">
                                        <?php foreach($v['leftImgs'] as $k1=>$v1):?>
                                        <?php if($k1==1):?>
                                    <div class="floor-left-slide">
                                        <div class="bd"><ul><?php foreach($v1 as $k3=>$v3):?>
                                                <li><a href="<?php echo $v3['img_url']?>"><img src="__uploads__/<?php echo $v3['img_src']?>">
                                                    </a></li><?php endforeach;?></ul>
                                        </div><div class="hd"><ul></ul></div>
                                    </div>
                                    <?php else:?>
                                    <div class="floor-left-adv">
                                        <?php if($k1==2 && isset($v1[0]['img_src'])):?>
                                        <a href="<?php echo $v1[0]['img_url']?>"><img src="__uploads__/<?php echo $v1[0]['img_src']?>" alt=""></a>
                                        <?php endif;?>
                                        <?php if($k1==3 && isset($v1[0]['img_src'])):?>
                                        <a href="<?php echo $v1[0]['img_url']?>"><img src="__uploads__/<?php echo $v1[0]['img_src']?>" alt=""></a>
                                        <?php endif;?>
                                    </div>
                                    <?php endif;?>
                                    <?php endforeach;?>
                                </div>
                                <div class="bd-right">
                                    <div class="floor-tabs-content clearfix">
                                        <div class="floor-tabs-item">
                                            <ul class="lift-channel" style="margin-top:0;">
                                                <?php foreach($v['newRecGoods'] as $k2=>$v2):?>
                                                <li class="opacity_img">
                                                    <a href="{:url('goods/index',array('id'=>$v2['id']))}" target="_blank">
                                                        <div class="p-img">
                                                            <img src="__uploads__/<?php echo $v2['md_thumb'];?>">
                                                        </div>
                                                        <div class="p-name" title="<?php echo $v2['goods_name'];?>"><?php echo $v2['goods_name'];?></div>
                                                        <div class="p-price">
                                                            <div class="shop-price">
                                                                <em>¥</em><?php echo $v2['shop_price'];?></div>
                                                            <div class="original-price"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <?php endforeach;?>
                                            </ul>
                                        </div>
                                        <!--子栏目商品信息-->
                                        <?php foreach($v['children'] as $k1=>$v1):?>
                                        <div class="floor-tabs-item">
                                            <ul class="lift-channel" style="margin-top:0;">
                                                <?php foreach($v1['bestgoods'] as $k2=>$v2):?>
                                                <li class="opacity_img">
                                                    <a href="{:url('goods/index',array('id'=>$v2['id']))}" target="_blank">
                                                        <div class="p-img">
                                                            <img src="__uploads__/<?php echo $v2['md_thumb'];?>">
                                                        </div>
                                                        <div class="p-name" title="<?php echo $v2['goods_name'];?>"><?php echo $v2['goods_name'];?></div>
                                                        <div class="p-price">
                                                            <div class="shop-price">
                                                                <em>¥</em><?php echo $v2['shop_price'];?></div>
                                                            <div class="original-price"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <?php endforeach;?>
                                            </ul>
                                        </div>
                                        <?php endforeach;?>
                                    </div>

                                </div>
                            </div>
                            <div class="floor-fd">
                                <div class="floor-fd-brand clearfix">
                                    <?php foreach($v['brands']['brand'] as $k3=>$v3):?>
                                    <div class="item">
                                        <a href="#" target="_blank">
                                            <div class="link-l"></div>
                                            <div class="img"><img src="__uploads__/<?php echo $v3['brand_img'];?>" title="ELLE HOME"></div>
                                            <div class="link"></div>
                                        </a>
                                    </div>
                                    <?php endforeach;?>
                                </div>
                            </div>
                        </div>
                        <div class="spec" data-spec="" data-title="undefined"></div>
                    </div>
                </div>
            </div>
            <?php endforeach;?>
            <div class="visual-item w1200" data-mode="guessYouLike" data-purebox="goods" ectype="visualItme" data-diff="0" style="display: block;">
                                    
                    <div class="view">
                        <div class="lift-channel clearfix" id="guessYouLike" data-type="range" data-lift="商品">
                            <div data-goodstitle="title"><div class="ftit"><h3>还没逛够</h3></div></div>
                            <ul>
{volist name='recgoods' id='vo'}
                    <li class="opacity_img"><a href="{:url('goods/index',['id'=>$vo['id']])}" target="_blank">
                    <div class="p-img"><img src="__uploads__/{$vo.md_thumb}"></div>
                    <div class="p-name" title="{$vo.goods_name}">{$vo.goods_name}</div>
                    <div class="p-price">
                    <div class="shop-price"><em>¥</em>{$vo.shop_price}</div>
                    <div class="original-price"></div>
                    </div></a></li>
                    {/volist}
                </ul>
                        <div class="spec" data-spec=""></div></div>
                    </div>
                </div>
        </div>
        <div class="lift lift-mode-one lift-hide" ectype="lift" data-type="one" style="z-index:100001">
            <div class="lift-list" ectype="liftList">
            </div>
        </div>

        <input name="warehouse_id" type="hidden" value="2">
        <input name="area_id" type="hidden" value="18">
        <input name="temp" type="hidden" value="backup_tpl_1">
    </div>

    <div class="mui-mbar-tabs">
        <div class="quick_link_mian" data-userid="0">
            <div class="quick_links_panel">
                <div id="quick_links" class="quick_links">
                    <ul>
                        <li>
                            <a href="user.php">
                                <i class="setting"></i>
                            </a>
                            <div class="ibar_login_box status_login">
                                <div class="avatar_box">
                                    <p class="avatar_imgbox">
                                        <img src="__index__/img/touxiang.jpg" width="100" height="100" />
                                    </p>
                                    <ul class="user_info">
                                        <li>用户名：暂无</li>
                                        <li>级&nbsp;别：暂无</li>
                                    </ul>
                                </div>
                                <div class="login_btnbox">
                                    <a href="user.php?act=order_list" class="login_order">我的订单</a>
                                    <a href="user.php?act=collection_list" class="login_favorite">我的收藏</a>
                                </div>
                                <i class="icon_arrow_white"></i>
                            </div>
                        </li>

                        <li id="shopCart">
                            <a href="javascript:void(0);" class="cart_list">
                                <i class="message"></i>
                                <div class="span">购物车</div>
                                <span class="cart_num">0</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="mpbtn_order">
                                <i class="chongzhi"></i>
                            </a>
                            <div class="mp_tooltip">
                                <font id="mpbtn_money" style="font-size:12px; cursor:pointer;">我的订单</font>
                                <i class="icon_arrow_right_black"></i>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="mpbtn_yhq">
                                <i class="yhq"></i>
                            </a>
                            <div class="mp_tooltip">
                                <font id="mpbtn_money" style="font-size:12px; cursor:pointer;">优惠券</font>
                                <i class="icon_arrow_right_black"></i>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="mpbtn_total">
                                <i class="view"></i>
                            </a>
                            <div class="mp_tooltip" style=" visibility:hidden;">
                                <font id="mpbtn_myMoney" style="font-size:12px; cursor:pointer;">我的资产</font>
                                <i class="icon_arrow_right_black"></i>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="mpbtn_history">
                                <i class="zuji"></i>
                            </a>
                            <div class="mp_tooltip">
                                <font id="mpbtn_histroy" style="font-size:12px; cursor:pointer;">我的足迹</font>
                                <i class="icon_arrow_right_black"></i>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="mpbtn_collection">
                                <i class="wdsc"></i>
                            </a>
                            <div class="mp_tooltip">
                                <font id="mpbtn_wdsc" style="font-size:12px; cursor:pointer;">我的收藏</font>
                                <i class="icon_arrow_right_black"></i>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="mpbtn_email">
                                <i class="email"></i>
                            </a>
                            <div class="mp_tooltip">
                                <font id="mpbtn_email" style="font-size:12px; cursor:pointer;">邮箱订阅</font>
                                <i class="icon_arrow_right_black"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="quick_toggle">
                    <ul>
                        <li>


                            <a id="IM" IM_type="dsc" onclick="openWin(this)" href="javascript:;">
                                <i class="kfzx"></i>
                            </a>
                            <div class="mp_tooltip">客服中心
                                <i class="icon_arrow_right_black"></i>
                            </div>

                        </li>
                        <li class="returnTop">
                            <a href="javascript:void(0);" class="return_top">
                                <i class="top"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div id="quick_links_pop" class="quick_links_pop"></div>
        </div>
    </div>
    <div class="email_sub">
        <div class="attached_bg"></div>
        <div class="w1200">
            <div class="email_sub_btn">
                <input type="input" id="user_email" name="user_email" autocomplete="off" placeholder="请输入您的邮箱帐号">
                <a href="javascript:void(0);" onClick="add_email_list();" class="emp_btn">订阅</a>
                <a href="javascript:void(0);" onClick="cancel_email_list();" class="emp_btn emp_cancel_btn">退订</a>
            </div>
        </div>
    </div>
    {include file='common/footer'} {include file='common/footerjs'}
    <div ectype="bonusadv_box"></div>
    <script src="__index__/js/jquery.yomi.js"></script>
    <script src="__index__/js/cart_common.js"></script>
    <script src="__index__/js/cart_quick_links.js"></script>
    <script src="__index__/js/asyLoadfloor.js"></script>
    <script src="__index__/js/jquery.purebox.js"></script>
    <script src="__index__/js/index.js"></script>
</body>

</html>