<!DOCTYPE html>
<html>

<head>
    {include file='common/meta'}

</head>

<body>
    <!-- 头部 -->
    {include file='common/top'}

    <!-- /头部 -->

    <div class="main-container container-fluid">
        <div class="page-container">
            <!-- Page Sidebar -->
            {include file='common/left'}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{:url('index/index')}">商品管理</a>
                        </li>
                        <li class="active">会员级别列表</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">

                    <button tooltip="会员级别列表" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url("memberLevel/add")}'">
                        <i class="fa fa-plus"></i> Add
                    </button>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="flip-scroll">
                                        <table class="table table-bordered table-hover">
                                            <thead class="">
                                                <tr>
                                                    <th class="text-center" width='80'>ID</th>
                                                    <th class="text-center">级别名称</th>
                                                    <th class="text-center">积分区间</th>
                                                    <th class="text-center">折扣率</th>
                                                    <th class="text-center" width='260'>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {volist name='lst' id='vo'}
                                                <tr>
                                                    <td align="center">{$vo.id}</td>
                                                    <td align="center">{$vo.level_name}</td>
                                                    <td align="center">{$vo.bot_point} - {$vo.top_point}</td>
                                                    <td align="center">{$vo.rate}</td>
                                                    <td align="center">
                                                        <a href="{:url('edit',array('id'=>$vo['id']))}" class="btn btn-primary btn-sm shiny">
                                                            <i class="fa fa-edit"></i> 编辑
                                                        </a>
                                                        <a href="#" onClick="warning('确实要删除吗', '{:url('del',array('id'=>$vo['id']))}')" class="btn btn-danger btn-sm shiny">
                                                            <i class="fa fa-trash-o"></i> 删除
                                                        </a>
                                                    </td>
                                                </tr>
                                                {/volist}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-12 text-right">{$lst->render()}</div>
                                    </div>
                                   
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
    </div>
    {include file='common/footjs'}
</body>

</html>