<div class="site-nav" id="site-nav">
    <div class="w w1200">
        <div class="fl">
            <div class="txt-info" id="ECS_MEMBERZONE">
                <a href="user.php" class="link-login red">请登录</a>
                <a href="user.php?act=register" class="link-regist">免费注册</a>
                <div id="scrollBody" class="scrollBody"></div>
            </div>
        </div>
        <ul class="quick-menu fr">
            {volist name='navs.top' id='vo'}
            {if condition="$key neq 0"}<li class="spacer"></li>{/if}
            <li>
                <div class="dt">
                    <a href="{$vo.nav_url}" {if condition="$vo['open'] eq 1" }target="_blank" {/if}>{$vo.nav_name}</a>
                </div>
            </li>
            {/volist}
        </ul>
    </div>
</div>
<div class="header">
    <div class="w w1200">
        <div class="logo">
            <div class="logoImg">
                <a href="/">
                    <img src="__index__/img/logo.gif">
                </a>
            </div>
            <div class="logoAdv">
                <!--logo旁边的图片广告-->
            </div>
        </div>
        <!---搜索框-->
        <div class="dsc-search">
            <div class="form">
                <form id="searchForm" name="searchForm" method="get" action="search.php" onsubmit="return checkSearchForm(this)" class="search-form">
                    <input autocomplete="off" onkeyup="lookup(this.value);" name="keywords" type="text" id="keyword" value="周大福" class="search-text">
                    <input type="hidden" name="store_search_cmt" value="0">
                    <button type="submit" class="button button-goods" onclick="checkstore_search_cmt(0)">搜商品</button>
                    <button type="submit" class="button button-store" onclick="checkstore_search_cmt(1)">搜店铺</button>
                </form>
                <ul class="keyword">
                    <?php if(isset($config['search_keywords'])){
                        $search=explode(',',$config['search_keywords']);
                    }
                    foreach($search as $k=>$v):?>
                    <li>
                        <a href="#" target="_blank">{$v}</a>
                    </li>
                    <?php endforeach;?>
                </ul>
                <div class="suggestions_box" id="suggestions" style="display:none;">
                    <div class="suggestions_list" id="auto_suggestions_list"> &nbsp;</div>
                </div>
            </div>
        </div>
        <div class="shopCart" data-ectype="dorpdown" id="ECS_CARTINFO" data-carteveval="0">
            <div class="shopCart-con dsc-cm">
                <a href="flow.php">
                    <i class="iconfont icon-carts"></i>
                    <span>我的购物车</span>
                    <em class="count cart_num">0</em>
                </a>
            </div>
            <div class="dorpdown-layer" ectype="dorpdownLayer">
                <div class="prompt">
                    <div class="nogoods">
                        <b></b>
                        <span>购物车中还没有商品，赶紧选购吧！</span>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>
<div class="nav dsc-zoom" ectype="dscNav">
    <div class="w w1200">
        <div class="categorys <?php if(!isset($homepage)){echo 'site-mast';}?>">
            <div class="categorys-type">
                <a href="categoryall.php" target="_blank">全部商品分类</a>
            </div>
            <div class="categorys-tab-content">
                <div class="categorys-items" id="cata-nav">
                    {volist name='categorys' id='cate'}
                    <div class="categorys-item" ectype="cateItem" data-id="{$cate.id}" data-eveval="0">
                        <div class="item item-content">
                            <i class="iconfont icon-ele"></i>
                            <div class="categorys-title">
                                <strong>
                                    <a href="{:url('category/index',array('id'=>$cate['id']))}" target="_blank">{$cate.cate_name}</a>
                                </strong>
                                <span>
                                    {volist name='cate.children' id='vo' length='2'}
                                    <a href="{:url('category/index',array('id'=>$cate['id']))}" target="_blank">{$vo.cate_name}</a>
                                    {/volist}
                                </span>
                            </div>
                        </div>
                        <div class="categorys-items-layer" ectype="cateLayer">
                            <div class="cate-layer-con clearfix">
                                <div class="cate-layer-left">
                                    <div class="cate_channel" ectype="channels_{$cate.id}"></div>
                                    <div class="cate_detail" ectype="subitems_{$cate.id}"></div>
                                </div>
                                <div class="cate-layer-rihgt" ectype="brands_{$cate.id}"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
        <!--顶部中间导航-->
        <div class="nav-main" id="nav">
            <ul class="navitems">
                <li>
                    <a href="/" class="curr">首页</a>
                </li>
                {volist name='navs.mid' id='vo'}
                <li>
                    <a href="{$vo.nav_url}" {if condition="$vo['open'] eq 1" }target="_blank" {/if}>{$vo.nav_name}</a>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</div>