<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="__index__/css/base.css" />
<link rel="stylesheet" type="text/css" href="__index__/css/style.css" />
<link rel="stylesheet" type="text/css" href="__index__/css/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__index__/css/purebox.css" />
<link rel="stylesheet" type="text/css" href="__index__/css/quickLinks.css" />
<script type="text/javascript" src="__index__/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__index__/js/jquery.json.js"></script>
<script type="text/javascript" src="__index__/js/transport_jquery.js"></script>
<script>
    var ajax_cate_url="{:url('Category/ajax_cate_info')}",//导航菜单获取请求网址
        js_img_path="__index__";//js中的图片路径
        ajax_page=0;//品牌换一批从第一页开始
        ajax_brand_url="{:url('Brand/ajax_brand_lst')}";//点击换一批品牌
</script>